db
.springBeans
test-output/
.settings/
.project
.classpath
.externalToolBuilders
temp-testng-customsuite.xml
target/
*.tmp_*
tidyErrors.txt
*.origin
*.orig
bin/
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings